body {
	overflow: hidden;
	background: #3b4045;
}

.tetris-field {
	width: 400px;
	height: 480px;
	border: 4px solid rgba(255,255,255,0.3);
	margin: -192px 0 0 -200px;
	position: absolute;
	top: 40%;
	left: 50%;
}

.tetris-field .main-screen {
	width: 200px;
	padding: 20px;
	float: left;
}

.tetris-field .status {
	float: left;
	width: 100px;
	padding: 20px;
}

canvas {
	background-color: black;
}

.status p {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "Helvetica", sans-serif;
	text-align: center;
	margin-left: -1em;
	color: white;
}

.status p strong {
	width: 100%;
	display: block;
	font-size: 3em;
	letter-spacing: 0px;
}
